h1 {
  color: White;
  font-size: 70px;
  font-family: Helvetica;
  font-weight: bold;
}

div nav p {
  font-family: Helvetica;
  font-size: 20px;
  color: White;
}

.main-header {
  text-align: center;
  background-image: url(./images/the-flatiron-building.png);
  background-size: cover;
}

nav p a {
  color: White;
}

.our-process {
  text-align: center;
}

.our-process p {
  font-size: 14px;
  font-family: Helvetica;
}

.our-process h4 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.our-process h3 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.newyork-content {
  text-align: center;
}

.newyork-content h3 {
  text-align: center;
  background-image: url(./images/the-flatiron-building.png);
  background-size: cover;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.newyork-content h4 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.footer {
  background-color: dimgray;
  font-family: Helvetica;
  color: white;
}

.copyright {
  padding-right: 8px;
  font-size: 11px;
}

.footer-nav a {
  color: White;
  font-size: 16px;
  padding-right: 5px;
}
